.about
    .container
        h1.about__title.wow.slideInUp Команда  MYMPR. Кто мы?
.about__wrap
    .about__item.about__item--blue
        .container
            .about__item-wrap
                .about__text-wrap
                    span.about__item__title.wow.slideInUp Люди, увлеченные розницей
                    span.about__item__text.wow.slideInUp.
                        Мы постоянно ищем способы повышения эффективности работы и получаем от этого удовольствие.
                .about__img.wow.slideInRight
                    img(src="img/img-about-1.png" alt="").about__img-1.about__img--right.about__img-desktop
                    img(src="img/img-about-1_m.png" alt="").about__img-1-m.about__img--right.about__img-mobile
    .about__item.about__item--green
        .container
            .about__item-wrap
                .about__img.wow.slideInLeft
                    img(src="img/img-about-2.png" alt="").about__img-2.about__img--left.about__img-desktop
                    img(src="img/img-about-2_m.png" alt="").about__img-2-m.about__img--left.about__img-mobile
                .about__text-wrap
                    span.about__item__title.wow.slideInUp Практики с богатым опытом в торговле
                    span.about__item__text.wow.slideInUp.
                        Многие набирали свой опыт, работая в магазине рядовыми продавцами.
    .about__item.about__item--orange
        .container
            .about__item-wrap
                .about__text-wrap
                    span.about__item__title.wow.slideInUp Высококвалифицированные тренеры и консультанты
                    span.about__item__text.wow.slideInUp.
                        Делимся передовыми технологиями, идеями и опытом для того, чтобы сделать розницу лучше.
                .about__img.wow.slideInRight
                    img(src="img/img-about-3.png" alt="").about__img-3.about__img--right.about__img-desktop
                    img(src="img/img-about-3_m.png" alt="").about__img-3-m.about__img--right.about__img-mobile
img(src="img/pngsprite/ico-dec-outsource-11.png" alt="").about__dec-icon.about__ico-1.js-about-dec
img(src="img/pngsprite/ico-dec-outsource-10.png" alt="").about__dec-icon.about__ico-2.js-about-dec
img(src="img/pngsprite/ico-dec-outsource-2.png" alt="").about__dec-icon.about__ico-3.js-about-dec
.guarantee
    .container
        h1.guarantee__title.wow.slideInUp Мы гарантируем нашим клиентам
        .guarantee__item-wrap
            .guarantee__item.wow.slideInUp
                img(src="img/pngsprite/ico-guarantee-1.png" alt="")
                span.guarantee__item__text.wow.slideInUp Наилучшие варианты решения задач
            .guarantee__item.wow.slideInUp
                img(src="img/pngsprite/ico-guarantee-2.png" alt="")
                span.guarantee__item__text.wow.slideInUp Ответственный подход к проекту и внимание к деталям
            .guarantee__item.wow.slideInUp
                img(src="img/pngsprite/ico-guarantee-3.png" alt="")
                span.guarantee__item__text.wow.slideInUp Оперативную и продуманную обратную связь
            .guarantee__item.wow.slideInUp
                img(src="img/pngsprite/ico-guarantee-4.png" alt="")
                span.guarantee__item__text.wow.slideInUp Конфиденциальность полученных данных
    img(src="img/pngsprite/ico-dec-outsource-3.png" alt="").about__dec-icon.guarantee__ico-1.js-guarantee-dec
    img(src="img/pngsprite/ico-dec-outsource-4.png" alt="").about__dec-icon.guarantee__ico-2.js-guarantee-dec
.question
    .container
        h1.question__title.wow.slideInUp Есть вопросы?  Хотите подключиться?
        span.question__subtitle.wow.slideInUp Оставьте свой номер телефона, мы перезвоним и подробно ответим на все интересующие вопросы.
        form.question__form.js-question-form
            input(type="text", name="name", placeholder="Телефон, имя").input.question__input.wow.slideInUp
            span.btn.question__submit.js-question-submit.wow.slideInUp
                span.btn__text Перезвоните мне