.about
    .container
        h1.about__title.wow.slideInUp Команда  MYMPR. Кто мы?
.about__wrap
    .about__item.about__item--blue
        .container
            .about__item-wrap
                .about__text-wrap.wow.slideInLeft
                    span.about__item__title.wow Люди, увлеченные розницей
                    span.about__item__text.wow.
                        Мы постоянно ищем способы повышения эффективности работы и получаем от этого удовольствие.
                .about__img.wow.slideInRight
                    img(src="img/img-about-1.png" alt="").about__img-1.about__img--right
    .about__item.about__item--green
        .container
            .about__item-wrap
                .about__img.wow.slideInLeft
                    img(src="img/img-about-2.png" alt="").about__img-2.about__img--left
                .about__text-wrap.wow.slideInRight
                    span.about__item__title.wow Практики с богатым опытом в торговле
                    span.about__item__text.
                        Многие набирали свой опыт, работая в магазине рядовыми продавцами.
    .about__item.about__item--orange
        .container
            .about__item-wrap
                .about__text-wrap.wow.slideInLeft
                    span.about__item__title Высококвалифицированные тренеры и консультанты
                    span.about__item__text.
                        Делимся передовыми технологиями, идеями и опытом для того, чтобы сделать розницу лучше.
                .about__img.wow.slideInRight
                    img(src="img/img-about-3.png" alt="").about__img-3.about__img--right
img(src="img/pngsprite/ico-dec-outsource-11.png" alt="").about__dec-icon.about__ico-1.js-about-dec
img(src="img/pngsprite/ico-dec-outsource-10.png" alt="").about__dec-icon.about__ico-2.js-about-dec
img(src="img/pngsprite/ico-dec-outsource-2.png" alt="").about__dec-icon.about__ico-3.js-about-dec
.guarantee
    .container
        h1.guarantee__title.wow.slideInUp Мы гарантируем нашим клиентам
        .guarantee__item-wrap
            .guarantee__item.wow.slideInLeft
                img(src="img/pngsprite/ico-guarantee-1.png" alt="")
                span.guarantee__item__text Наилучшие варианты решения задач
            .guarantee__item.wow.slideInLeft
                img(src="img/pngsprite/ico-guarantee-2.png" alt="")
                span.guarantee__item__text Ответственный подход к проекту и внимание к деталям
            .guarantee__item.wow.slideInRight
                img(src="img/pngsprite/ico-guarantee-3.png" alt="")
                span.guarantee__item__text Оперативную и продуманную обратную связь
            .guarantee__item.wow.slideInRight
                img(src="img/pngsprite/ico-guarantee-4.png" alt="")
                span.guarantee__item__text Конфиденциальность полученных данных
    img(src="img/pngsprite/ico-dec-outsource-3.png" alt="").about__dec-icon.guarantee__ico-1.js-guarantee-dec
    img(src="img/pngsprite/ico-dec-outsource-4.png" alt="").about__dec-icon.guarantee__ico-2.js-guarantee-dec
.question
    .container
        h1.question__title.wow.slideInUp Есть вопросы?  Хотите подключиться?
        span.question__subtitle.wow.slideInUp Оставьте свой номер телефона, мы перезвоним и подробно ответим на все интересующие вопросы.
        form.question__form.js-question-form
            input(type="text", name="name", placeholder="Телефон, имя").input.question__input.wow.slideInLeft
            span.btn.question__submit.js-question-submit.wow.slideInRight
                span.btn__text Перезвоните мне