.footer
    .container
        .footer__wrap
            ul.menu.wow.slideInUp
                li.menu__item
                    a(href="about.html").menu__link О нас
                li.menu__item
                    a(href="trainings.html").menu__link.active Обучение
                li.menu__item
                    a(href="index.html#services").menu__link.scrollto Услуги
                li.menu__item
                    a(href="index.html#contacts").menu__link.scrollto Контакты
            a(href="tel:+73433451388").footer__text.wow.slideInUp Звоните нам: +7 (343) 345-13-88