.footer
    .container
        .footer__wrap
            ul.menu
                li.menu__item
                    a(href="#").menu__link О нас
                li.menu__item
                    a(href="#").menu__link Обучение
                li.menu__item
                    a(href="#").menu__link Услуги
                li.menu__item
                    a(href="#").menu__link Контакты
            a(href="tel:+388007005096").footer__text Звоните нам: 8 800 700 50 96