.footer
    .container
        .footer__wrap
            ul.menu.wow.slideInLeft
                li.menu__item
                    a(href="about.html").menu__link О нас
                li.menu__item
                    a(href="trainings.html").menu__link.active Обучение
                li.menu__item
                    a(href="index.html#services").menu__link.scrollto Услуги
                li.menu__item
                    a(href="index.html#contacts").menu__link.scrollto Контакты
            a(href="tel:+388007005096").footer__text.wow.slideInRight Звоните нам: 8 800 700 50 96