.header__wrapper
    .container
        .header
            a(href="index.html").logo
                img(src="img/logo.png" alt="")
            .header__rigth-wrap
                .overlay
                .menu__icon.js-menu
                    +icon("menu")
                ul.menu
                    li.menu__item
                        a(href="about.html").menu__link О нас
                    li.menu__item
                        a(href="trainings.html").menu__link.active Обучение
                    li.menu__item
                        a(href="index.html#services").menu__link.scrollto Услуги
                    li.menu__item
                        a(href="index.html#contacts").menu__link.scrollto Контакты
                a(href="#", data-popup="callback").btn.js-show-pop
                    span.btn__text Перезвоните мне


