.container
    .header
        a(href="/").logo
            img(src="img/logo.png" alt="")
        .header__rigth-wrap
            ul.menu
                li.menu__item
                    a(href="#").menu__link О нас
                li.menu__item
                    a(href="#").menu__link Обучение
                li.menu__item
                    a(href="#").menu__link Услуги
                li.menu__item
                    a(href="#").menu__link Контакты
            a(href="#").btn
                span.btn__text Перезвоните мне


