.container
    .index__wrap-text
        h1.index__title.wow.slideInUp.
            Если Вы хотите развивать бизнес и увеличивать свою прибыль — делайте это с нами!
        h2.index__subtitle.wow.slideInUp.
            Наша команда профессионалов разработает оптимальное решение для вашего бизнеса и будет сопровождать его, следуя поставленным целям и задачам.
        p.index__text.wow.slideInUp.
            Желаете повысить эффективность торгового объекта или своей  розничной сети, не потратив при этом много времени и сил? Компания MYMPR готова стать Вашим проводником и помощником в этом нелегком деле. Мы предоставляем заказчикам как готовые сервисные пакеты услуг в долгосрочное пользование на условиях абонентской оплаты, так и разрабатываем индивидуальные решения для бизнеса.
        .flex-center
            a(href="#").btn.wow.slideInUp
                span.btn__text Отправить заявку
        .index__dec-ico.index__ico-1
            img(src="img/pngsprite/ico-dec_1.png" alt="")
        .index__dec-ico.index__ico-2
            img(src="img/pngsprite/ico-dec_2.png" alt="")
        .index__dec-ico.index__ico-3
            img(src="img/pngsprite/ico-dec_3.png" alt="")
        .index__dec-ico.index__ico-4
            img(src="img/pngsprite/ico-dec_4.png" alt="")
        .index__dec-ico.index__ico-5
            img(src="img/pngsprite/ico-dec_5.png" alt="")
        .index__dec-ico.index__ico-6
            img(src="img/pngsprite/ico-dec_6.png" alt="")
        .index__dec-ico.index__ico-7
            img(src="img/pngsprite/ico-dec_7.png" alt="")
        .index__dec-ico.index__ico-8
            img(src="img/pngsprite/ico-dec_8.png" alt="")
        .index__dec-ico.index__ico-9
            img(src="img/pngsprite/ico-dec_9.png" alt="")
        .index__dec-ico.index__ico-10
            img(src="img/pngsprite/ico-dec_10.png" alt="")
.images
    .images__notebook
        img(src="img/img-notebook.png" alt="")
        .images__pen
            img(src="img/img-pen.png" alt="")
        .images__mouse
            img(src="img/img-mouse.png" alt="")
        .images__note
            img(src="img/img-note.png" alt="")
    .images__keyboard
        img(src="img/img-keyboard.png" alt="")
    .images__coffee
        img(src="img/img-coffee.png" alt="")
.efficiency
    .container
        h1.efficiency__title.wow.slideInUp.
            Как мы повышаем эффективность клиентов?
        .efficiency__item-wrap
            .efficiency__item.wow.slideInUp
                img(src="img/pngsprite/ico-eff-1.png" alt="").efficiency__ico-1.wow.bounceIn
                span.efficiency__text Разрабатываем стратегии
            .efficiency__item.wow.slideInUp
                img(src="img/pngsprite/ico-eff-2.png" alt="").efficiency__ico-2.wow.bounceIn
                span.efficiency__text Повышаем продажи
            .efficiency__item.wow.slideInUp
                img(src="img/pngsprite/ico-eff-3.png" alt="").efficiency__ico-3.wow.bounceIn
                span.efficiency__text Оптимизируем процессы
            .efficiency__item.wow.slideInUp
                img(src="img/pngsprite/ico-eff-4.png" alt="").efficiency__ico-4.wow.bounceIn
                span.efficiency__text Снижаем издержки
            .efficiency__item.wow.slideInUp
                img(src="img/pngsprite/ico-eff-5.png" alt="").efficiency__ico-5.wow.bounceIn
                span.efficiency__text Увеличиваем рентабельность
            .efficiency__item.wow.slideInUp
                img(src="img/pngsprite/ico-eff-6.png" alt="").efficiency__ico-6.wow.bounceIn
                span.efficiency__text Обучаем сотрудников
.outsource#services
    .container
        h1.outsource__title.wow.slideInUp Умный аутсорсинг
        p.outsource__text.wow.slideInUp.
            Мы на практике знаем, как реализовывать проекты успешных и прибыльных розничных сетей и торговых объектов, и предлагаем  перечень услуг, в комплексе обеспечивающих максимальную отдачу с проекта.
        .outsource__item-wrap
            .outsource__item-block
                .outsource__item.outsource__img
                    .outsource__img__wrap.wow.shake
                        img(src="img/img-outsource-1.jpg" alt="")
                        img(src="img/pngsprite/ico-outsource-1.png" alt="").wow.bounceIn.outsource__item__ico
                .outsource__item.outsource__color.outsource__green
                    img(src="img/pngsprite/ico-outsource-1.png" alt="").wow.bounceIn.outsource__item__img
                    span.outsource__item__title.wow.slideInUp IT-услуги
                    span.outsource__list-title.wow.slideInUp Организация службы поддержки пользователей:
                    ul.outsource__list.wow.slideInUp
                        li.outsource__list__item.wow.slideInUp сопровождение программы 1С.Розница;
                        li.outsource__list__item.wow.slideInUp доработка системы 1С.Розница для локальных нужд пользователя (на основе технических заданий);
                        li.outsource__list__item.wow.slideInUp удаленное администрирование системы;
                        li.outsource__list__item.wow.slideInUp инструктирование по пользованию программным обеспечением;
                        li.outsource__list__item.wow.slideInUp настойка эквайринга;
                        li.outsource__list__item.wow.slideInUp первичная диагностика проблем на кассе.

            .outsource__item-block
                .outsource__item.outsource__color.outsource__orange
                    img(src="img/pngsprite/ico-outsource-2.png" alt="").wow.bounceIn.outsource__item__img
                    span.outsource__item__title.wow.slideInUp Бизнес-анализ работы магазина
                    span.outsource__list-title.wow.slideInUp Бизнес-анализ работы магазина и выдача рекомендаций по вопросам:
                    ul.outsource__list
                        li.outsource__list__item.wow.slideInUp управления ассортиментом;
                        li.outsource__list__item.wow.slideInUp управления товарным запасом;
                        li.outsource__list__item.wow.slideInUp управления ценами;
                        li.outsource__list__item.wow.slideInUp мерчендайзинга (рекомендации по выкладке товара);
                        li.outsource__list__item.wow.slideInUp управления затратами;
                        li.outsource__list__item.wow.slideInUp управления персоналом, в том числе разработка и обеспечение доступа к учебным программам и базе знаний.
                .outsource__item.outsource__img
                    .outsource__img__wrap.wow.shake
                        img(src="img/img-outsource-2.jpg" alt="")
                        img(src="img/pngsprite/ico-outsource-2.png" alt="").wow.bounceIn.outsource__item__ico
            .outsource__item-block
                .outsource__item.outsource__img
                    .outsource__img__wrap.wow.shake
                        img(src="img/img-outsource-3.jpg" alt="")
                        img(src="img/pngsprite/ico-outsource-3.png" alt="").wow.bounceIn.outsource__item__ico
                .outsource__item.outsource__color.outsource__blue
                    img(src="img/pngsprite/ico-outsource-3.png" alt="").wow.bounceIn.outsource__item__img
                    span.outsource__item__title.wow.slideInUp Обучение персонала
                    span.outsource__list-title.wow.slideInUp Обучение персонала торговой розничной сети включает:
                    ul.outsource__list.wow.slideInUp
                        li.outsource__list__item.wow.slideInUp курс семинаров по ознакомлению с документами, касающимися организации и ведения деятельности розничного магазина;
                        li.outsource__list__item.wow.slideInUp занятия по ознакомлению персонала с технологиями организации продаж и иными бизнес-процессами.
                    span.outsource__list-title.wow.slideInUp Проведение семинаров/занятий осуществляется в форме:
                    ul.outsource__list.wow.slideInUp
                        li.outsource__list__item.wow.slideInUp стажировки в центре стажировки (5 дней);
                        li.outsource__list__item.wow.slideInUp вебинаров;
                        li.outsource__list__item.wow.slideInUp целевых курсов/программ для управляющих, заместителей управляющих, кассиров, грузчиков с нашими специалистами в учебном центре.
    img(src="img/pngsprite/ico-dec-outsource-1.png" alt="").outsource__dec-icon.outsource__ico-1
    img(src="img/pngsprite/ico-dec-outsource-2.png" alt="").outsource__dec-icon.outsource__ico-2
    img(src="img/pngsprite/ico-dec-outsource-3.png" alt="").outsource__dec-icon.outsource__ico-3
    img(src="img/pngsprite/ico-dec-outsource-4.png" alt="").outsource__dec-icon.outsource__ico-4
    img(src="img/pngsprite/ico-dec-outsource-5.png" alt="").outsource__dec-icon.outsource__ico-5
    img(src="img/pngsprite/ico-dec-outsource-6.png" alt="").outsource__dec-icon.outsource__ico-6
    img(src="img/pngsprite/ico-dec-outsource-7.png" alt="").outsource__dec-icon.outsource__ico-7
    img(src="img/pngsprite/ico-dec-outsource-8.png" alt="").outsource__dec-icon.outsource__ico-8
    img(src="img/pngsprite/ico-dec-outsource-9.png" alt="").outsource__dec-icon.outsource__ico-9
.advantage
    .container
        h1.advantage__title.wow.slideInUp Преимущества работы с нами:
        .advantage__wrap-item
            .advantage__item.wow.slideInUp
                img(src="img/pngsprite/img-advantage-1.png" alt="").wow.slideInUp
                span.advantage__item__title.wow.slideInUp Персональный подход
                span.advantage__item__text.wow.slideInUp.
                    Обращаясь в нашу компанию, Вы можете быть уверены, что Вашим проектом лично будут заниматься высококвалифицированные специалисты  с уникальным опытом работы в розничной сети, разработавшие концепции и проекты сотен магазинов.
            .advantage__item.wow.slideInUp
                img(src="img/pngsprite/img-advantage-2.png" alt="").advantage__img-2n.wow.slideInUp
                span.advantage__item__title.wow.slideInUp Прекрасное знание регионов России
                span.advantage__item__text.wow.slideInUp.
                    и стран ближнего зарубежья. Наши специалисты работают по всей стране и в ближнем зарубежье и прекрасно знают особенности каждого региона – от Минска  и Санкт-Петербурга на западе до Красноярска на востоке.
            .advantage__item.wow.slideInUp
                img(src="img/pngsprite/img-advantage-3.png" alt="").wow.slideInUp
                span.advantage__item__title.wow.slideInUp Большой опыт работы с&nbsp;различными&nbsp;форматами
                span.advantage__item__text.wow.slideInUp.
                    Для нас не существует маленьких и больших проектов – каждый проект индивидуален и важен, будь то федеральная торговая сеть или розничные магазины  в небольшом городе. Наша задача – подобрать оптимальное решение для конкретного места, учитывающее, с одной стороны, все современные требования, а с другой стороны – применение в реалиях конкретного города и региона.
            .advantage__item.wow.slideInUp
                img(src="img/pngsprite/img-advantage-4.png" alt="").advantage__img-2n.wow.slideInUp
                span.advantage__item__title.wow.slideInUp Комплекс услуг
                span.advantage__item__text.wow.slideInUp.
                    Наши специалисты берут на себя руководство и сопровождение процессов на всех стадиях проекта. Со многими нашими клиентами мы работаем годами, помогая им в текущей работе и развитии сотрудников.
    img(src="img/pngsprite/ico-dec-outsource-10.png" alt="").outsource__dec-icon.outsource__ico-10
    img(src="img/pngsprite/ico-dec-outsource-11.png" alt="").outsource__dec-icon.outsource__ico-11
.question#question
    .container
        h1.question__title.wow.slideInUp Есть вопросы?  Хотите подключиться?
        span.question__subtitle.wow.slideInUp Оставьте свой номер телефона, мы перезвоним и подробно ответим на все интересующие вопросы.
        form.question__form.js-question-form
            input(type="text", name="name", placeholder="Телефон, имя").input.question__input.wow.slideInUp
            span.btn.question__submit.js-question-submit.wow.slideInUp
                span.btn__text Перезвоните мне
.contacts#contacts
    .container
        h1.contacts__title.wow.slideInUp Контакты и реквизиты
        .contacts__item-wrap
            .contacts__item.wow.slideInUp
                span.contacts__item__title Звоните
                a(href="tel:+73433451388").contacts__item__link +7 (343) 345-13-88
                a(href="tel:+79676396388").contacts__item__link +7 (967) 639-63-88
            .contacts__item.wow.slideInUp
                span.contacts__item__title Пишите
                a(href="mailto:info@mympr.ru").contacts__item__email info@mympr.ru
            .contacts__item.wow.slideInUp
                span.contacts__item__info ИП Мухаметвалеев Р.Р.
                span.contacts__item__info ИНН 027412847384
                span.contacts__item__info ОГРН 316965800173122
    img(src="img/pngsprite/ico-dec-contacts-1.png" alt="").contacts__dec-icon.contacts__ico-1
    img(src="img/pngsprite/ico-dec-contacts-2.png" alt="").contacts__dec-icon.contacts__ico-2