.container
    .index__wrap-text
        h1.index__title.
            Если Вы хотите развивать бизнес и увеличивать свою прибыль — делайте это с нами!
        h2.index__subtitle.
            Наша команда профессионалов разработает оптимальное решение для вашего бизнеса и будет сопровождать его, следуя поставленным целям и задачам.
        p.index__text.
            Желаете повысить эффективность торгового объекта или своей  розничной сети, не потратив при этом много времени и сил? Компания MYMPR готова стать Вашим проводником и помощником в этом нелегком деле. Мы предоставляем заказчикам как готовые сервисные пакеты услуг в долгосрочное пользование на условиях абонентской оплаты, так и разрабатываем индивидуальные решения для бизнеса.
        .flex-center
            a(href="#").btn
                span.btn__text Отправить заявку
.images
    .images__notebook
        img(src="img/img-notebook.png")
        .images__pen
            img(src="img/img-pen.png")
        .images__mouse
            img(src="img/img-mouse.png")
        .images__note
            img(src="img/img-note.png")
    .images__keyboard
        img(src="img/img-keyboard.png")
    .images__coffee
        img(src="img/img-coffee.png")


