.trainings
    .container
        h1.trainings__title.wow.slideInUp Обучение сотрудников розницы
        .trainings__item-wrap
            .trainings__item.trainings__item--blue
                img(src="img/pngsprite/ico-trainings-1.png" alt="").wow.slideInUp
                span.trainings__item__text.wow.slideInUp.
                    Компания MYMPR обладает собственным учебным центром. Обучение проводят высококвалифицированные тренеры нашего центра обучения, которые делятся передовыми технологиями, идеями и опытом для того, чтобы сделать вашу розницу лучше. В штате 10 опытных тренеров (включая региональных), которые погружены во все процессы, знают стратегические цели, специфику розничного рынка.
                span.trainings__item__text.wow.slideInUp.
                    Для сотрудников вашего магазина мы организуем выездное обучение, тем самым сэкономив ваши время и деньги.
            .trainings__item.trainings__item--green
                img(src="img/pngsprite/ico-trainings-2.png" alt="").wow.slideInUp
                span.trainings__item__text.wow.slideInUp.
                    Наши программы обучения используются для того, чтобы научить "новых" и "старых" сотрудников наилучшим образом выполнять свою работу, а также постоянно повышать свою квалификацию.
                span.trainings__item__text.wow.slideInUp.
                    В успешных розничных компаниях процесс обучения никогда не прекращается. Новое оборудование, изменения в законодательстве и новые группы товаров, а также необходимость создания мотивации к работе у нынешних сотрудников, продвижение по службе - все это заставляет проводить не только обучение, но и переквалификацию.
            .trainings__item.trainings__item--yellow
                img(src="img/pngsprite/ico-trainings-3.png" alt="").wow.slideInUp
                span.trainings__list-title.wow.slideInUp Обучение персонала торговой розничной сети включает:
                ul.trainings__list.wow.slideInUp
                    li.trainings__list__item.
                        Курс семинаров/занятий  по ознакомлению  персонала со стандартами  и иными документами, касающимися организации и ведения деятельности розничного магазина с учетом его специфики;
                    li.trainings__list__item.
                        Занятия по ознакомлению персонала с технологиями организации продаж и иными бизнес-процессами.
            .trainings__item.trainings__item--orange
                img(src="img/pngsprite/ico-trainings-4.png" alt="").wow.slideInUp
                span.trainings__list-title.wow.slideInUp Проведение семинаров/занятий осуществляется в форме:
                ul.trainings__list.wow.slideInUp
                    li.trainings__list__item.
                        стажировки в центре стажировки (5 дней);
                    li.trainings__list__item.
                        вебинаров;
                    li.trainings__list__item.
                        целевых курсов/программ для управляющих, заместителей управляющих, кассиров, грузчиков  путем личного взаимодействия с нашими специалистами в учебном центре.
        .flex-center.wow.slideInUp
            a(href="#").btn.trainings__btn
                span.btn__text.trainings__btn__text Расписание программы обучения, тренингов и курсов по розничной торговле
    img(src="img/pngsprite/ico-dec-outsource-11.png" alt="").trainings__dec-icon.trainings__ico-1
    img(src="img/pngsprite/ico-dec-outsource-10.png" alt="").trainings__dec-icon.trainings__ico-2
    img(src="img/pngsprite/ico-dec-outsource-1.png" alt="").trainings__dec-icon.trainings__ico-3
    img(src="img/pngsprite/ico-dec-outsource-2.png" alt="").trainings__dec-icon.trainings__ico-4
    img(src="img/pngsprite/ico-dec-outsource-3.png" alt="").trainings__dec-icon.trainings__ico-5
    img(src="img/pngsprite/ico-dec-outsource-2.png" alt="").trainings__dec-icon.trainings__ico-6
    img(src="img/pngsprite/ico-dec-outsource-7.png" alt="").trainings__dec-icon.trainings__ico-7
    img(src="img/pngsprite/ico-dec-outsource-8.png" alt="").trainings__dec-icon.trainings__ico-8
    img(src="img/pngsprite/ico-dec-outsource-8.png" alt="").trainings__dec-icon.trainings__ico-9
.question.trainings__request
    .container
        h1.question__title.wow.slideInUp Подать заявку на обучение
        span.question__subtitle.wow.slideInUp Оставьте свой номер телефона, мы перезвоним и подробно ответим на все интересующие вопросы.
        form.question__form.js-question-form
            input(type="text", name="name", placeholder="Телефон, имя").input.question__input.wow.slideInUp
            span.btn.question__submit.js-question-submit.wow.slideInUp
                span.btn__text Перезвоните мне



