a {
  text-decoration: none;
}
.page-wrapper {
  overflow: hidden;
}
img {
  width: 100%;
  height: auto;
}
.wow {
  visibility: hidden;
}
.btn {
  display: flex;
  justify-content: center;
  height: 54px;
  padding: 6px;
  border-radius: 40px;
  cursor: pointer;
  background: linear-gradient(to right, rgba(200,226,169,1) 0%, rgba(128,221,233,1) 100%);
  -webkit-transition: all 0.0s linear;
  transition: all 0.0s linear;
  &:hover {
    transform: scale(1.01);
  }
  &__text {
    display: flex;
    padding: 0 36px;
    align-items: center;
    background-color: #00bbd4;
    border-radius: 40px;
    font-family: $roboto-con-b;
    font-size: 17px;
    line-height: 17px;
    color: #fff;
  }
}
.logo {
  display: flex;
  align-items: center;
  width: 145px;
  height: 84px;
}
.logo img{
  object-fit: cover;
}
h1 {
  display: block;

  font-family: $roboto-con-b;
  font-size: 33px;
  text-align: center;
  @media (max-width: $screen-sm-max) {
    font-size: 31px;
  }
  @media (max-width: $screen-xs-max) {
    font-size: 26px;
  }
}
h2 {
  display: block;
  font-family: $roboto-con-b;
  font-size: 20px;
  line-height: 33px;
  color: #464646;
  text-align: center;
  @media (max-width: $screen-xs-max) {
    line-height: 28px;
  }
}
p {
  font-family: $roboto-con;
  font-size: 20px;
  line-height: 33px;
  color: #464646;
  text-align: center;
  @media (max-width: $screen-xs-max) {
    line-height: 28px;
    font-size: 17px;
  }
}
.index {
  &__wrap-text {
    position: relative;
    margin-bottom: 46px;
    padding: 0 45px;
    @media (max-width: $screen-md-max) {
      padding: 0;
    }
  }
  &__title {
    color: #00bbd4;
    margin-bottom: 27px;
    @media (max-width: $screen-xs-max) {
      margin-bottom: 15px;
    }
  }
  &__subtitle {
    margin-bottom: 33px;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
    @media (max-width: $screen-xs-max) {
      margin-bottom: 15px;
    }
  }
  &__text {
    margin-bottom: 37px;
  }
  &__dec-ico {
    position: absolute;
    z-index: 1;
    transform: scale(0);
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }
  &__ico-1 {
    left: -97px;
    bottom: 63px;
    width: 68px;
    height: 66px;
  }
  &__ico-2 {
    left: -149px;
    bottom: -70px;
    width: 72px;
    height: 68px;
  }
  &__ico-3 {
    z-index: 2;
    left: -108px;
    bottom: -97px;
    width: 74px;
    height: 74px;
  }
  &__ico-4 {
    left: 39px;
    bottom: -47px;
    width: 74px;
    height: 72px;
  }
  &__ico-5 {
    left: 100px;
    bottom: -161px;
    width: 72px;
    height: 72px;
  }
  &__ico-6 {
    right: 124px;
    bottom: -177px;
    width: 83px;
    height: 80px;
  }
  &__ico-7 {
    right: 27px;
    bottom: -36px;
    width: 64px;
    height: 61px;
  }
  &__ico-8 {
    right: -11px;
    bottom: -173px;
    width: 67px;
    height: 67px;
  }
  &__ico-9 {
    right: -119px;
    bottom: 34px;
    width: 74px;
    height: 74px;
    z-index: 2;
  }
  &__ico-10 {
    right: -165px;
    bottom: 72px;
    width: 82px;
    height: 78px;
    z-index: 1;
  }
}

.images {
  z-index: 1;
  position: relative;
  display: flex;
  overflow: hidden;
  justify-content: center;
  &__notebook {
    position: relative;
    z-index: 2;
    width: 672px;
    height: auto;
    transform: translateY(70%);
    -webkit-transition: all 2s linear;
    transition: all 2s linear;
  }
  &__pen {
    position: absolute;
    left: -68px;
    top: 157px;
    width: 104px;
    height: 247px;
    transform: translateY(60%);
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
    @media (max-width: $screen-md-max) {
      display: none;
    }
  }
  &__mouse {
    position: absolute;
    right: -201px;
    top: 178px;
    width: 184px;
    height: 192px;
    transform: translateX(300%);
    -webkit-transition: all 1.5s linear;
    transition: all 1.5s linear;
    @media (max-width: $screen-md-max) {
      display: none;
    }
  }
  &__note {
    position: absolute;
    left: -356px;
    top: 85px;
    width: 334px;
    height: 406px;
    transform: translateY(55%);
    -webkit-transition: all 1s linear;
    transition: all 1s linear;
    @media (max-width: $screen-md-max) {
      display: none;
    }
  }
  &__keyboard {
    position: absolute;
    z-index: 1;
    left: -129px;
    top: 0;
    width: 435px;
    height: 596px;
    transform: translateX(-101%);
    -webkit-transition: all 1.5s linear;
    transition: all 1.5s linear;
    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }
  &__coffee {
    position: absolute;
    z-index: 1;
    right: 10px;
    top: -3px;
    width: 273px;
    height: 273px;
    transform: translateX(105%) rotate(-270deg);
    -webkit-transition: all 1.2s linear;
    transition: all 1.2s linear;
    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.efficiency {
  position: relative;
  margin-top: -135px;
  padding: 101px 0 64px;
  z-index: 2;
  background: linear-gradient(45deg, #8bc24a 43%, #00bbd4 58%);
  @media (max-width: $screen-sm-max) {
    padding: 38px 0;
  }
  &__title {
    margin-bottom: 67px;
    color: #fff;
    @media (max-width: $screen-sm-max) {
      margin-bottom: 38px;
    }
  }
  &__item-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: $screen-xs-max) {
      justify-content: center;
    }
  }
  &__item {
    display: flex;
    margin-bottom: 49px;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-bottom: 23px;
    width: 280px;
    height: 191px;
    overflow: hidden;
    border: 1px solid #fff;
    background-color: rgba(255,255,255,.1);
    text-align: center;
    @media (max-width: $screen-sm-max) {
      width: 250px;
      height: 175px;
      margin-bottom: 23px;
    }
    @media (max-width: $screen-xs-max) {
      &:last-child {
        margin-bottom: 0;
      }
    }
    &:hover {
      transform: scale(1.02);
    }
  }
  &__ico-1 {
    margin-top: 37px;
    width: 71px;
    height: 71px;
    animation-duration: 2s;
    animation-delay: .5s;
  }
  &__ico-2 {
    margin-top: 42px;
    width: 69px;
    height: 61px;
    animation-duration: 2s;
    animation-delay: .7s;
  }
  &__ico-3 {
    margin-top: 44px;
    width: 57px;
    height: 57px;
    animation-duration: 2s;
    animation-delay: .9s;
  }
  &__ico-4 {
    margin-top: 37px;
    width: 72px;
    height: 72px;
    animation-duration: 2s;
    animation-delay: .5s;
  }
  &__ico-5 {
    margin-top: 37px;
    width: 84px;
    height: 72px;
    animation-duration: 2s;
    animation-delay: .7s;
  }
  &__ico-6 {
    margin-top: 50px;
    width: 76px;
    height: 53px;
    animation-duration: 2s;
    animation-delay: .9s;
  }
  &__text {
    font-family: $roboto-con;
    font-size: 20px;
    line-height: 36px;
    color: #fff;
  }
}
.outsource {
  padding: 101px 0 102px;
  position: relative;
  //overflow: hidden;
  @media (max-width: $screen-sm-max) {
    padding: 38px 0;
  }
  &__title {
    margin-bottom: 37px;
    color: #00bbd4;
    @media (max-width: $screen-sm-max) {
      margin-bottom: 28px;
    }
  }
  //&__img {
  //  overflow: hidden;
  //  position: relative;
  //  img {
  //    position: absolute;
  //    height: 100%;
  //    width: auto;
  //    top: 50%;
  //    left: 50%;
  //    transform: translate(-50%,-50%);
  //  }
  //}
  &__text {
    margin-bottom: 44px;
    padding: 0 20px;
    line-height: 36px;
    @media (max-width: $screen-sm-max) {
      margin-bottom: 38px;
      padding: 0;
      line-height: 30px;
    }
  }
  &__item-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @media (max-width: 1030px) {
      justify-content: space-between;
    }
  }
  &__item {
    width: 50%;
    @media (max-width: 1030px) {
      display: none;
      width: 100%;
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
    &__img {
      animation-duration: 2s;
      animation-delay: .4s;
    }
    &__title {
      position: relative;
      margin-bottom: 81px;
      padding: 0 50px;
      width: 100%;
      text-align: center;
      font-family: $roboto-con-b;
      font-size: 33px;
      color: #fff;
      @media (max-width: 1030px) {
        margin-bottom: 40px;
      }
      @media (max-width: $screen-md-max) {
        padding: 0;
      }
      @media (max-width: $screen-xs-max) {
        font-size: 26px;
      }
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: #fff;
        left: 0;
        bottom: -40px;
        @media (max-width: 1030px) {
          bottom: -20px;
        }
      }
    }
  }
  &__color {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 50px 48px 35px 47px;
    @media (max-width: 1030px) {
      padding: 35px;
    }
    @media (max-width: $screen-xs-max) {
      padding: 15px;
    }
    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      @media (max-width: 1030px) {
        display: none;
      }
    }
    img {
      width: 68px;
      height: 68px;
      margin-bottom: 14px;
    }
  }
  &__green {
    background-color: #8ac149;
    &:after {
      left: -20px;
      top: 50%;
      transform: translateY(-50%);
      border-width: 19.5px 20px 19.5px 0;
      border-color: transparent #89c149 transparent transparent;
    }
  }
  &__orange {
    background-color: #fec107;
    &:after {
      right: -20px;
      top: 50%;
      transform: translateY(-50%);
      border-width: 19.5px 0 19.5px 20px;
      border-color: transparent transparent transparent #fec007;
    }
  }
  &__blue {
    background-color: #00bbd4;
    &:after {
      left: -20px;
      top: 50%;
      transform: translateY(-50%);
      border-width: 19.5px 20px 19.5px 0;
      border-color: transparent #00bbd4 transparent transparent;
    }
  }
  &__list-title {
    margin-bottom: 12px;
    width: 100%;
    font-family: $roboto-con;
    font-size: 20px;
    color: #fff;
    @media (max-width: $screen-xs-max) {
      font-size: 18px;
    }
  }
  &__list {
    list-style: none;
    padding-left: 35px;
    @media (max-width: $screen-xs-max) {
      padding-left: 20px;
    }
    &:not(:last-child) {
      margin-bottom: 46px;
      @media (max-width: $screen-xs-max) {
        margin-bottom: 15px;
      }
    }
    &__item {
      position: relative;
      font-family: $roboto-con;
      font-size: 20px;
      color: #fff;
      @media (max-width: $screen-xs-max) {
        font-size: 18px;
      }
      &:not(:last-child) {
        margin-bottom: 12px;
      }
      &:after {
        content: '';
        position: absolute;
        left: -22px;
        top: 10px;
        width: 6px;
        height: 6px;
        background-color: #fff;
        border-radius: 100%;
      }
    }
  }
  &__dec-icon {
    position: absolute;
    z-index: -1;
    opacity: .9;
    transform: translateY(0);
    //-webkit-transition: all 0.1s linear;
    //transition: all 0.1s linear;
    @media (max-width: $screen-sm-max) {
      display: none;
    }
  }
  &__ico-1 {
    width: 193px;
    height: 183px;
    left: 22px;
    top: 474px;
  }
  &__ico-2 {
    width: 92px;
    height: 115px;
    left: 338px;
    top: 905px;
  }
  &__ico-3 {
    width: 232px;
    height: 272px;
    left: 0;
    top: 1327px;
  }
  &__ico-4 {
    width: 219px;
    height: 206px;
    left: 71px;
    top: 2100px;
  }
  &__ico-5 {
    width: 146px;
    height: 133px;
    left: 14px;
    top: 2189px;
  }
  &__ico-6 {
    width: 92px;
    height: 115px;
    right: 182px;
    top: 30px;
  }
  &__ico-7 {
    width: 148px;
    height: 207px;
    right: 0;
    top: 246px;
  }
  &__ico-8 {
    width: 283px;
    height: 271px;
    right: 14px;
    top: 320px;
  }
  &__ico-9 {
    width: 283px;
    height: 271px;
    right: 115px;
    top: 1370px;
  }
  &__ico-10 {
    z-index: 2;
    width: 80px;
    height: 76px;
    right: 209px;
    bottom: 290px;
  }
  &__ico-11 {
    width: 127px;
    height: 123px;
    right: 135px;
    bottom: 290px;
  }
}
.advantage {
  position: relative;
  &__title {
    margin-bottom: 103px;
    color: #00bbd4;
    @media (max-width: $screen-md-max) {
      margin-bottom: 80px;
    }
    @media (max-width: $screen-sm-max) {
      margin-bottom: 38px;
    }
  }
  &__wrap-item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__item {
    position: relative;
    margin-bottom: 109px;
    padding: 0 20px 0 125px;
    width: 50%;
    @media (max-width: 1030px) {
      width: 100%;
      margin-bottom: 38px;
    }
    @media (max-width: $screen-sm-max) {
      padding: 0 0 0 125px;
    }
    @media (max-width: $screen-xs-max) {
      padding: 0;
    }
    &__title {
      display: block;
      margin-bottom: 25px;
      font-family: $roboto-con-b;
      font-size: 20px;
      color: #00bbd4;
      @media (max-width: $screen-xs-max) {
        margin-bottom: 15px;
      }
    }
    &__text {
      display: block;
      width: 100%;
      font-family: $roboto-con;
      font-size: 17px;
      color: #464646;
    }
    img {
      position: absolute;
      left: 0;
      top: 30px;
      width: 91px;
      height: 91px;
      &:hover {
        transform: scale(1.02);
      }
      @media (max-width: 1030px) {
        top: 10px;
      }
      @media (max-width: $screen-xs-max) {
        display: none;
      }
    }
  }
  &__img-2n {
    left: 13px!important;
    @media (max-width: 1030px) {
      left: 0!important;
    }
  }
}
.question {
  padding: 46px 0 58px;
  background-image: linear-gradient(45deg, #8ac149 45%, #fec107 55%);
  @media (max-width: $screen-sm-max) {
    padding: 38px 0;
  }
  &__title {
    margin-bottom: 22px;
    color: #fff;
  }
  &__subtitle {
    display: block;
    margin-bottom: 33px;
    padding: 0 235px;
    width: 100%;
    text-align: center;
    font-family: $roboto-con;
    font-size: 17px;
    color: #fff;
    @media (max-width: 1030px) {
      padding: 0 100px;
    }
    @media (max-width: $screen-sm-max) {
      padding: 0;
    }
  }
  &__form {
    display: flex;
    justify-content: center;
    @media (max-width: $screen-xs-max) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__input {
    width: 235px;
    margin-right: 24px;
    @media (max-width: $screen-xs-max) {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
}
.input {
  font-family: $roboto-con;
  font-size: 17px;
  color: #464646;
  padding: 6px 25px 7px;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 50px;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  @media (max-width: $screen-xs-max) {
    padding: 14px 25px;
  }
  &.error {
    box-shadow: inset 0 0 4px 2px #B22222;
  }
  &__submit {

  }
}
label.error {
  display: none!important;
}
.contacts {
  position: relative;
  padding: 102px 0 95px;
  overflow: hidden;
  @media (max-width: $screen-sm-max) {
    padding: 38px;
  }
  &__title {
    color: #00bbd4;
    margin-bottom: 98px;
    @media (max-width: $screen-sm-max) {
      margin-bottom: 38px;
    }
  }
  &__item-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: $screen-sm-max) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__item {
    @media (max-width: $screen-sm-max) {
      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
    &__title {
      display: block;
      margin-bottom: 15px;
      font-family: $roboto-con-b;
      font-size: 20px;
      color: #464646;
      @media (max-width: $screen-sm-max) {
        margin-bottom: 10px;
      }
    }
    &__link {
      display: block;
      margin-bottom: 16px;
      font-family: $roboto-con;
      font-size: 17px;
      color: #464646;
    }
    &__email {
      font-family: $roboto-con;
      font-size: 17px;
      color: #00bbd4;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
    &__info {
      display: block;
      font-family: $roboto-con;
      font-size: 17px;
      color: #464646;
      &:not(:last-child) {
        margin-bottom: 17px;
      }
    }
    @media (max-width: $screen-sm-max) {
      * {
        text-align: center;
      }
    }
  }
  &__dec-icon {
    position: absolute;
    z-index: -1;
    opacity: .9;
    @media (max-width: $screen-sm-max) {
      display: none;
    }
  }
  &__ico-1 {
    width: 143px;
    height: 156px;
    left: 30px;
    top: -14px;
  }
  &__ico-2 {
    width: 146px;
    height: 132px;
    right: -1px;
    bottom: 64px;
  }
}